<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>blog_h}}
  <link rel="stylesheet" type="text/css" href="css/blog1-3-5.css">
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:50px;font-family:Segoe Script;">Origami for Lexus Asia Pacific</h1>
  </div>
</div>
<br><br>
<center><p style="color:grey;">Lexus is a brand that's always believed in and imbibed the artistry of master craftmen in their designs.</p></center>
<br>
<div class="container-fluid p-3 my-3 bg-secondary text-white">
<p>The takumi masters at Lexus demonstrate their dexterity by folding an Origami design within 90 seconds using merely their non-dominant hand. The title of takumi is bestowed only on those who have shown exceptional skills and exemplary dedication, proving they are indeed worthy of this appellation.
<br>
<h5 style="color:lightgrey;">BBC Culture</h5>
</div>
<center><p style="color:grey;">I was aware about this concept and culture in Lexus and was especially honored to have been chosen as one of four artists in the Asia Pacific region to create art for the Lexus LS 2018 promotional film.</p>
<p style="color:grey;">Here's the film:</p>
<iframe width="560" height="315" data-aos="fade-right" src="https://www.youtube.com/embed/UgRlhydTKSc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>
<br><br>
{{>footer}}
  </body>
  </html>