<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>blog_h}}
  <link rel="stylesheet" type="text/css" href="css/blog-2.css">
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:50px;font-family:Segoe Script;">Origami at National Gallery, Singapore</h1>
  </div>
</div>
<br><br>

<div class="row g-0 bg-light position-relative">
  
<div class="col-md-2 mb-md-0 p-md-4">  
    <a href="https://www.amazon.com/dp/1978356897/sr=8-1/qid=1511251546/ref=as_li_ss_tl?_encoding=UTF8&me=&qid=1511251546&sr=8-1&linkCode=ll1&tag=everyone-can-learn-origami-20&linkId=af42ae46592b41be19c93b3d6524c756">
<img src="/img/Blog/2021-05-31 (2).png" data-aos="fade-left" height="50%"></a>
  </div>
  <div class="col-md-10 p-4 ps-md-0">
    <br>
    <p>Every year HSBC hosts an exclusive by-invite Orihins of Luxury events for their Jade by HSBC Premiere members. The event is close to the Chinese New Year(CNY). No wonder then the venue would also be as exclusive and esteemed. The prestigious Supreme Court wing of the National Gallery at Singapore served as the perfect backbrop of this exquisite experience.</p>
<p>I felt honored to have been invited to create an Origami art sculpture as a centerpiece for this event. Since it was a CNY event, I decided to pick the number "8" and the peony as themes for my sculpture. It took more than a 100 hours to make this 8 ft/ 2.4m tall sculpture but the end result made me happy.</p>
<p>I was part of a 3-person panel discussion in the august company of Nicholas Pegna, Asia director of Berry Brothers & Rudd and Lim Tian Wee, executive director of Gryphon Tea Company. We spoke about the concept of luxury.</p>
<p>The Qi Ensemble performed. It was mesmerizing!</p>
<p>Even though I have visited and displayed my work in various Asian countties, this was the first time I had visited Singapore. And it left quite an impression on me!</p>

  </div>
</div>
<br><br>
{{>footer}}
  </body>
  </html>