<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/blog.css">
{{>blog_h}}
</head>
<body>
    {{>nav1}}
    <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:50px;font-family:Segoe Script;">Our Latest Posts</h1>
    <h3 style="font-size:25px">Most of our blog posts are galleries of amazing origami photos folded by some very talented folders. You’ll also find news, book reviews, tips, new video tutorials and much more.</h3>
  </div>
</div>
<br><br>
<div class="bs-example">
    <div class="container-fluid">
        <div class="row">
            <div class="card-deck" data-aos="fade-up">
                <div class="card">
                    <img src="/img/Blog/Lexus20Origami.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/blog1" style="text-decoration:none;">Origami for Lexus Asia Pacific</a></h5>
                        <p class="card-text">Exploring the takumi craftsmanship concept of Toyota's Lexus LS 2018 with my Origami design. Watch the video and read what BBC, GQ and others have to say about it.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/Blog/Blanka-ver-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/blog2" style="text-decoration:none;">Origami at National Gallery, Singapore</a></h5>
                        <p class="card-text">An 8 ft. tall Origami sculpture displayed at National Gallery Singapore for HSBC. Click to view the sculpture and read published articles in Luxuo (Art Republik) and Robb Report.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/Blog/Origami_Himanshu_Mumbai_India_Firstpost_1_web.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/blog3" style="text-decoration:none;">Origami on NDTV GoodTimes</a></h5>
                        <p class="card-text">The episode featured Origami Art as a Design element in homes.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div><br><br>
	<div class="row">
            <div class="card-deck" data-aos="fade-up">
                <div class="card">
                    <img src="/img/Blog/bimg2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/blog4" style="text-decoration:none;">Creating Through the Frankensteinian Method in Origami</a></h5>
                        <p class="card-text">Gerardo, from Neorgami and Mini Neo, will be offering an online conference/workshop at zero cost. Attend the event through the Zoom platform on Saturday, May 9, 10:00 - 12:30 pm (New York) / 3:00 - 5:30 (London). You'll be folding a bit and learning…</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>               
                <div class="card">
                    <img src="/img/Blog/Origami Cyclon - Aldo Marcell.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/blog5" style="text-decoration:none;">The Best Modular Origami Models of 2019</a></h5>
                        <p class="card-text">We're finally coming to the end of the Best Origami of 2019 posts! This time we're going to look at the best modular models. These are pretty much all geometric shapes created from multiple sheets of paper folded into individual units and assembled…</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
		        <div class="card">
                    <img src="/img/Blog/pexels-la-mm-1582782.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/blog6" style="text-decoration:none;">The Best Origami Dragons of 2020</a></h5>
                        <p class="card-text">I've said several times before that dragons are some of my favourite things I've ever seen folded out of paper which is why I'm excited to bring you this selection of the best origami dragons of 2020! These were the best dragon models I saw uploaded…I've said several times before that dragons are some of my favourite things I've ever seen folded out of paper which is why I'm excited to bring you this selection of the best origami dragons of 2018! These were the best dragon models I saw uploaded…</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
{{>footer}}
</body>
</html>