<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>blog_h}}
  <link rel="stylesheet" type="text/css" href="css/blog5-6.css">
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:50px;font-family:Segoe Script;">The Best Origami Dragons of 2020</h1>
  </div>
</div>
<br><br><center>
<p style="font-family:Source Sans Pro;">I’ve said several times before that dragons are some of my favourite things I’ve ever seen folded out of paper which is why I’m excited to bring you this selection of the best origami dragons of 2020!</p>
<p style="font-family:Source Sans Pro;">Let’s get started!</p>
<br>
<h3 style="font-family: Candara;">1) Ancient Dragon, Designd by Satoshi Kamiya and Folded by Francisco José González Alcázar</h3>
<p style="font-family:Source Sans Pro;">This has always been one of my favourite models and this is easily one of the most impressive renditions I’ve seen. I absolutely love the pose here and how ferocious it looks.</p>
<br><img src="/img/Dragon/1.png" data-aos="fade-left">
<br><a style="text-decoration:none;" href="https://www.origami-shop.com/origami-passionnes-complexe-xsl-219_346_348.html">Diagrams available in Works of Satoshi Kamiya 1995-2003</a>
<br><br><br>
<h3  style="font-family: Candara;">2) Western Dragon, Designed by Wonseon Seo and Folded by Terry Nicolas</h3>
<p style="font-family:Source Sans Pro;">This model isn’t super complex but it looks great, is super expressive and has a lot of charm.</p>
<br><img src="/img/Dragon/2.png" data-aos="fade-left">
<p style="color:lightgrey;">Instructions not available</p>
<br><br><br>
<h3 style="font-family: Candara;">3) Ryujin 3.5, Designed by Satoshi Kamiya and Folded by Lê Huỳnh Đức</h3>
<p style="font-family:Source Sans Pro;">This model blows my mind every time I see it. It’s folded from a single 156cm x 156cm square of paper and I can’t imagine how long it must take to fold all those scales. It’s expertly folded and looks amazing here, especially the head.</p>
<br><img src="/img/Dragon/3.png" data-aos="fade-left">
<br><a style="text-decoration:none;" href="https://www.origami-shop.com/livreorigamiworldofsupercomplexorigamicomplexedekamiyasatoshienjaponaisorigamishopcom-xml-206_2649_641_248_2525_367-1248.html?ref=21&affiliate_banner_id=1">Diagrams available in World of Super Complex Origami</a>
<br><br><br>
<h3 style="font-family: Candara;">4) Wyvern, Designed and Folded by Hiroaki Kobayashi</h3>
<p style="font-family:Source Sans Pro;">This is an absolutely fantastic new design from Hiroaki Kobayashi. It’s folded from one square of paper and looks amazing, especially the head. I also really love the choice of paper used here. It’s a really beautiful looking pattern and colour and perfect for some kind of sky dragon.</p>
<br><img src="/img/Dragon/4.png" data-aos="fade-left">
<p style="color:lightgrey;">Instructions not available</p>
<br><br><br>
<h3  style="font-family: Candara;">5) Chinese Dragon, Designed by MiKiller and Folded by Alex Mironenko</h3>
<p style="font-family:Source Sans Pro;">Here’s another incredible looking eastern dragon design. It’s kind of similar to the Ryujin but is certainly unique with a completely different head and other details. It’s folded absolutely beautifully here and you can really see all the excellent little details.</p>
<br>
<p style="font-family:Source Sans Pro;">This is a modular model that uses 2 squares for the head, 8 for the body, 1 for the tail and 4 for the legs.</p>
<br><img src="/img/Dragon/5.png" data-aos="fade-left">
<p style="color:lightgrey;">Instructions not available</p>
</center>
<br><br>
{{>footer}}
  </body>
  </html>