<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>blog_h}}
  <link rel="stylesheet" type="text/css" href="css/blog5-6.css">
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:50px;font-family:Segoe Script;">The Best Modular Origami Models of 2019</h1>
  </div>
</div>
<br><br><center>
<p style="font-family:Source Sans Pro;">We’re finally coming to the end of the Best Origami of 2019 posts!</p>
<p style="font-family:Source Sans Pro;">This time we’re going to look at the best modular models. These are pretty much all geometric shapes created from multiple sheets of paper folded into individual units and assembled together. This also includes kusudamas.</p>
<p style="font-family:Source Sans Pro;">We’ll start off with a mind-blowing model from Byriah Loper. Byriah Loper is pretty much the master of modular origami and it was pretty hard to narrow it down to a few models for this post.</p>
<img src="/img/Modular/1.png" data-aos="fade-left">
<h3 style="font-family: Candara;">1) Thirty Interlocking Irregular Equatorially Truncated Triangularly Distorted Dipoles, Designed and Folded by Byriah Loper</h3>
<p style="color:lightgrey;">Instructions not available</p>
<br><br>
<p style="font-family:Source Sans Pro;">Next we have this beautiful soft looking rose kusudama. It’s assembled from 30 individual units. Definitely one of my favourite kusudama models.</p>
<img src="/img/Modular/2.png" data-aos="fade-left">
<h3 style="font-family: Candara;">2) Roses Kusudama, Designed by Masha Athanasiadi and Folded by Natalia Romanenko</h3>
<br><a style="text-decoration:none;" href="https://www.amazon.com/Kusudama-Bouquet-Book-2/dp/172031229X/ref=as_li_ss_tl?keywords=Kusudama+Bouquet:+Book+2&qid=1570744887&sr=8-1&linkCode=ll1&tag=origamidotme-20&linkId=4fdcccde33259e0e5e060abe4f85fb29&language=en_US">Diagrams available in Kusudama Bouquet 2</a>
<br><br>
<p style="font-family:Source Sans Pro;">Here’s another fantastic looking kusudama. I really like the curly shapes here. It’s always cool to see models with curls instead of just perfectly straight angles like you see most of the time. This kusudama is also assembled from 30 units.</p>
<img src="/img/Modular/3.png" data-aos="fade-left">
<h3 style="font-family: Candara;">3) Le Feu, Designed and Folded by Masha Athanasiadi</h3>
<br><a style="text-decoration:none;" href="https://www.amazon.com/Kusudama-Bouquet-Book-Masha-Athanasiadi/dp/1077722400/ref=as_li_ss_tl?keywords=Kusudama+Bouquet+Book+6&qid=1570745113&sr=8-1&linkCode=ll1&tag=origamidotme-20&linkId=da0d471f72417e3416d3c68784f32498&language=en_US">Diagrams available in Kusudama Bouquet 6</a>
<br><br>
<p style="font-family:Source Sans Pro;">Next we have a pretty unique and complex looking kusudama. I really like all those spirals! This is folded from 120 individual units.</p>
<img src="/img/Modular/4.png" data-aos="fade-left">
<h3 style="font-family: Candara;">4) Arkadia Var. Designed and Folded by Valentina Minayeva</h3>
<p style="color:lightgrey;">Instructions not available</p>
<br><br>
<p style="font-family:Source Sans Pro;">Since paper is so thin you can really get some cool looking results when you add a light inside something like a kusudama. The light looks especially great here glowing inside this awesome star.</p>
<img src="/img/Modular/5.png" data-aos="fade-left">
<h3 style="font-family: Candara;">5) Bascetta Star, Designed by Paolo Bascetta and Folded by Uschi Mitzkat</h3>
<a style="text-decoration:none;" href="https://www.youtube.com/watch?v=R1XTt73diyY">Video Instructions available from EzOrigami's YouTube channel</a>
</center>
<br><br>
{{>footer}}
  </body>
  </html>