<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>blog_h}}
  <link rel="stylesheet" type="text/css" href="css/blog1-3-5.css">
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:50px;font-family:Segoe Script;">Origami on NDTV GoodTimes</h1>
  </div>
</div>
<br><br><center>
<img src="/img/Blog/2021-05-31 (3).png" data-aos="fade-left"></center>
<p style="padding: 5px;">The good folks from NDTV FoodTimes came over to showcase Orukami on their show, Luxe Interiors. The show highlights unique trends in architecture and this week's episode explored 'geometry' as a design element.</p>
<p style="padding: 5px;">I put up the Orukami Mask, Hagiwara Violin, Kamiya Frog, Oriland Vase, Kinoshita Vase, Lang SUV, Cabrino Kusudamas, Sonobe Modulars, Huffman Curved Objects, and Yoshizawa Peacock among other models.</p>
<p style="padding: 5px;">Origami is based on geomerty principles and it's a lot of fun when you fold a model yourself.So, I designed an Origami Vase for the show's DIY segment.</p>
<p style="padding: 5px;">Somehomw, Origami is thought to be a kid's activity and there is little awareness that Origami has vast artistic possiblities. So, to demonstrate that, I decided that, I decided to decorate the room with varied Origami sculptures.</p>
<p style="padding: 5px;"The shoot went off smoothly. The camera crew was evidently very accomplished and it was a pleasent experience for all.></p>
<p style="padding: 5px;">I hope the show reaches many people and encourages some to take up Origami, maybe even use it in their homes.</p>
<p style="padding: 5px;">Keep folding!</p>
<br><br><br>
{{>footer}}
  </body>
  </html>