<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>blog_h}}
  <link rel="stylesheet" type="text/css" href="css/blog1-3-5.css">
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:50px;font-family:Segoe Script;">Creating Through the Frankensteinian Method in Origami</h1>
  </div>
</div>
<br><br>
<center><p>Gerardo, from Neorgami and Mini Neo, will be offering an online conference/workshop at zero cost. Attend the event through the Zoom platform on Saturday, May 9, 10:00 – 12:30 pm (New York) / 3:00 – 5:30 (London).</p>
<br>
<p>You’ll be folding a bit and learning about the characteristics of a particular approach to the creation of new models in origami. Find out more about the event at <a href="https://tiny.cc/creating">https://tiny.cc/creating</a></p>
<br>
<p>Gerardo asks you to please repost and share the event’s poster and ask your friends to do that as well.</p>
<img src="/img/Blog/bimg.png"></center>
<br><br><br>
{{>footer}}
  </body>
  </html>