<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>book_h}}
  </head>
<body>
    {{>nav1}}
	<br><br>
    <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:48px;font-family:Segoe Script;">Our Favourite Origami Books</h1>
    <h3>This is a collection of our favourite books and we highly recommend all of them. There are books for all skill levels that will teach you how to fold a wide variety of different models. We've also written a short review for each book and included links to where you can get them.
    </h3>
  </div>
</div>

<br><br>

<!--<h1 style="font-family:Ink Free;text-align:center;text-size:50px;"><b>Origami Books</b></h1>-->
<div class="container mt-5">
    <div class="row">
        	<div class="col-md-4" data-aos="fade-up">
            	<div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book1.jpg" width="80">
                    <div class="d-flex flex-column ml-2"><span>Everyone Can Learn Origami</span><span class="text-black-50">Peter Saydak</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal1" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">Everyone Can Learn Origami</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">Everyone Can Learn Origami is the ultimate book for beginners who want to learn how to make origami. 
		In this book you’ll learn all the major folds and techniques and then practice them by folding 77 different traditional models. 
		As you fold your way through the models in this book your skills will improve and you’ll be able to fold more and more complex designs.</p>
	 <br><p style="font-size:20px;">The diagrams in this book are incredibly detailed and very easy to follow. If you start at the beginning and work your way through the entire book you’ll 
		be an origami master in no time!</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div>
		</span><a href="https://www.amazon.com/dp/1978356897/sr=8-1/qid=1511251546/ref=as_li_ss_tl?_encoding=UTF8&me=&qid=1511251546&sr=8-1&linkCode=ll1&tag=everyone-can-learn-origami-20&linkId=af42ae46592b41be19c93b3d6524c756"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
	    </div>
        </div>

        <div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book2.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Origami Omnibu</span><span class="text-black-50">Kunihiko Kasahara</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">REVIEW</button>
  		<!-- Modal -->
 		 <div class="modal fade" id="myModal2" role="dialog">
    		<div class="modal-dialog">    
      		<!-- Modal content-->
   		   <div class="modal-content">
       		 <div class="modal-header">
          	<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          	<h4 class="modal-title">Origami Omnibu</h4>
       		 </div>
        	<div class="modal-body">
         	 <p style="font-size:20px;">This is one of my all time favourite origami books. There are diagrams for a wide variety of models ranging from pretty easy to intermediate difficulty. The diagrams are easy to read and throughout the book the author has quick little sections explaining some of the theory and math behind origami and origami design. Nothing too complicated.
		This book has one of my favourite models to fold, a Chinese dragon that looks really great but isn’t too difficult. There are also a ton of models in this book. Every time you pick it up you’re probably going to find something new to fold. I highly recommend this book.</p>
        	</div>
       		 <div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       		 </div>
      		</div>      
    		</div>
 		 </div></span><a href="https://www.amazon.com/Origami-Omnibus-Paper-Folding-Everybody/dp/4817090014/ref=as_li_ss_tl?ie=UTF8&qid=1467926284&sr=8-1&keywords=origami+omnibus&linkCode=ll1&tag=origamidotme-20&linkId=4920d124ac565486adb1170a0b7c408a"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>   
	    </div>
        </div>

        <div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book3.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Origami for the Connoisseur</span><span class="text-black-50">Toshie Takahama</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">REVIEW</button>
  		<!-- Modal -->
 	 <div class="modal fade" id="myModal3" role="dialog">
   	 <div class="modal-dialog">    
     	 <!-- Modal content-->
      	<div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">Origami for the Connoisseur</h4>
        </div>
        <div class="modal-body">
          <p style="font-size:20px;">This book features a wide array of models from several different designers such as Jun Maekawa, Tomoko Fuse, David Brill and several more. You’ll find diagrams for animals, sea shells, shapes, dinosaurs, insects and more. This book also includes the diagrams for the awesome Kawasaki Rose! The diagrams are clear and there are photos of each model. You’ll also find little bits of origami theory and mathematics sprinkled throughout the diagrams as well.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       	 </div>
     	 </div>      
   	 </div>
 	 </div></span><a href="https://www.amazon.com/gp/product/4817090022/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=4817090022&linkCode=as2&tag=ultimoriga-20&linkId=UO7VS6HBIUIFIRUK"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>            
	    </div>
        </div>

        <div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book4.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Origami Zoo</span><span class="text-black-50">John Montroll</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal4" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">Origami Zoo</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">This is a book featuring 37 paper animals designed by Robert. J. Lang and Stephen Weiss. The models start off really simply and then get more difficult as you go through the book. You’ll find a section at the beginning showing how to make different kinds of folds, bases and how to do various techniques.
This is an excellent book for someone who’s just starting with origami but isn’t really a beginner any more. There are lots of great animals to practice on.</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div></span><a href="https://www.amazon.com/Origami-Zoo-Amazing-Collection-Animals/dp/0312040156/ref=as_li_ss_tl?ie=UTF8&qid=1467926798&sr=8-1&keywords=origami+zoo&linkCode=ll1&tag=origamidotme-20&linkId=bebc75551f467ccd3ab53a23163131f2"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
            </div>
        </div>
        
	<div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book5.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Easy Origami</span><span class="text-black-50">Robert J.Lang</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal5">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal5" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">Easy Origami</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">Everyone Can Learn Origami is the ultimate book for beginners who want to learn how to make origami. 
		In this book you’ll learn all the major folds and techniques and then practice them by folding 77 different traditional models. 
		As you fold your way through the models in this book your skills will improve and you’ll be able to fold more and more complex designs.</p>
	 <br><p style="font-size:20px;">The diagrams in this book are incredibly detailed and very easy to follow. If you start at the beginning and work your way through the entire book you’ll 
		be an origami master in no time!</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div></span><a href="https://www.amazon.com/Origami-Dover-Papercraft-simple-projects/dp/0486272982/ref=bmx_2/131-7188248-2379411?pd_rd_w=EzuGp&pf_rd_p=e8693f8f-29a2-4e3d-acf6-ce23d1970043&pf_rd_r=ARCNEV59G8WTT7ZHP2AS&pd_rd_r=c27b08de-ffb3-4da1-85e7-df7b7f8e20f4&pd_rd_wg=CahSX&pd_rd_i=0486272982&psc=1"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
            </div>
        </div>
       
	 <div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book6.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Origami Insects</span><span class="text-black-50">Dover</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal6">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal6" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">Origami Insects</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">Robert J. Lang is a master at designing origami insects and this book features 20 of his excellent designs with easy to follow diagrams. You’ll find a wide variety of insects and a few spiders. A couple of the models aren’t too difficult to fold but the rest will require you to have at least an intermediate level of skill with origami and some of them can be a bit complicated.</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div></span><a href="https://www.amazon.com/Origami-Insects-Dover-Papercraft/dp/0486286029/ref=as_li_ss_tl?ie=UTF8&qid=1467926941&sr=8-1&keywords=origami+insects&linkCode=ll1&tag=origamidotme-20&linkId=161ebb18c3b31a41c97a8d2349699845"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
            </div>
        </div>
       
	 <div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book7.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Fun with Origami</span><span class="text-black-50">Payment Services</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal7">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal7" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">Fun with Origami</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">Everyone Can Learn Origami is the ultimate book for beginners who want to learn how to make origami. 
		In this book you’ll learn all the major folds and techniques and then practice them by folding 77 different traditional models. 
		As you fold your way through the models in this book your skills will improve and you’ll be able to fold more and more complex designs.</p>
	 <br><p style="font-size:20px;">The diagrams in this book are incredibly detailed and very easy to follow. If you start at the beginning and work your way through the entire book you’ll 
		be an origami master in no time!</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div></span><a href="https://www.amazon.com/Fun-Origami-Easy-Do-Papercraft/dp/0486266648/ref=bmx_23/131-7188248-2379411?pd_rd_w=D4i56&pf_rd_p=e8693f8f-29a2-4e3d-acf6-ce23d1970043&pf_rd_r=Z97NM4JKCC0MT5N4DWKS&pd_rd_r=6fc47629-1945-4c46-bac7-08ae21114c0d&pd_rd_wg=5bjFV&pd_rd_i=0486266648&psc=1"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
            </div>
        </div>
        
	<div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book8.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>The Complete Book of Origami</span><span class="text-black-50">Robert J. Lang</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal8">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal8" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">The Complete Book of Origami</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">This is a book featuring 37 paper animals designed by Robert. J. Lang and Stephen Weiss. The models start off really simply and then get more difficult as you go through the book. You’ll find a section at the beginning showing how to make different kinds of folds, bases and how to do various techniques.
This is an excellent book for someone who’s just starting with origami but isn’t really a beginner any more. There are lots of great animals to practice on.</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div></span><a href="https://www.amazon.com/Complete-Book-Origami-Step-Instructions/dp/0486258378/ref=bmx_4/131-7188248-2379411?pd_rd_w=EzuGp&pf_rd_p=e8693f8f-29a2-4e3d-acf6-ce23d1970043&pf_rd_r=ARCNEV59G8WTT7ZHP2AS&pd_rd_r=c27b08de-ffb3-4da1-85e7-df7b7f8e20f4&pd_rd_wg=CahSX&pd_rd_i=0486258378&psc=1"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
            </div>
        </div>
       
	 <div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book9.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Mind-Blowing Modular Origami</span><span class="text-black-50">Byriah Loper</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal9">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal9" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">Mind-Blowing Modular Origami</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">If you’re a fan of Byriah Loper’s incredible 3D modular interlocking origami shapes or even just modular origami in general then you need to get this book. It starts out with a few simpler kusudama type models to introduce you to the basics and then gives you instructions for 12 amazing and super complex wireframe projects. As far as I know this is the only book that has instructions for models like these.</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div></span><a href="https://www.amazon.com/Mind-Blowing-Modular-Origami-Polyhedral-Innovative/dp/4805313099/ref=as_li_ss_tl?ie=UTF8&qid=1511970107&sr=8-1&keywords=mind+blowing+modular+origami&linkCode=ll1&tag=origamidotme-20&linkId=1f8ed5b67f8c27677a4c4cb70d531208"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
            </div>
        </div>
       
	 <div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book10.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Origami Design Secrets</span><span class="text-black-50">Robert J. Lang</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal10">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal10" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">Origami Design Secrets</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">This book is essentially a textbook on origami design. Robert Lang takes each chapter to describe a different technique used for designing models and ends each chapter with diagrams for a few models that illustrate the technique discussed. This is a fantastic book for anyone really into paper folding who wants to learn more about how to create their own models. This book also helped me understand how crease patterns work a lot more too.</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div></span><a href="https://www.amazon.com/Origami-Design-Secrets-Mathematical-Methods/dp/1568814364/ref=pd_hr_sbs_2/131-7188248-2379411?pd_rd_w=LeA8a&pf_rd_p=16984efe-06ba-49c2-851d-54f1cc5e8727&pf_rd_r=SZWRDZC535GDYXW0QBPX&pd_rd_r=da8c59ac-325f-4f8b-ac11-ed9b45fdda21&pd_rd_wg=U1WAT&pd_rd_i=1568814364&psc=1"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
            </div>
        </div>

        <div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book11.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Advanced Origami</span><span class="text-black-50">Michael G. LaFosse</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal11">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal11" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">Advanced Origami</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">This is a book featuring 37 paper animals designed by Robert. J. Lang and Stephen Weiss. The models start off really simply and then get more difficult as you go through the book. You’ll find a section at the beginning showing how to make different kinds of folds, bases and how to do various techniques.
This is an excellent book for someone who’s just starting with origami but isn’t really a beginner any more. There are lots of great animals to practice on.</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div></span><a href="https://www.amazon.com/Advanced-Origami-Techniques-Challenging-Instructional/dp/0804848076/ref=pd_hr_sbs_3/131-7188248-2379411?pd_rd_w=LeA8a&pf_rd_p=16984efe-06ba-49c2-851d-54f1cc5e8727&pf_rd_r=SZWRDZC535GDYXW0QBPX&pd_rd_r=da8c59ac-325f-4f8b-ac11-ed9b45fdda21&pd_rd_wg=U1WAT&pd_rd_i=0804848076&psc=1"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
            </div>
        </div>
       
	 <div class="col-md-4" data-aos="fade-up">
            <div class="card p-3 bg-warning">
                <div class="d-flex flex-row mb-3"><img src="/img/Book/Book12.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Origami Art</span><span class="text-black-50">Michael G. LaFosse</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6></h6>
                <div class="d-flex justify-content-between install mt-3"><span><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal12">REVIEW</button>
 	        <!-- Modal -->
  		<div class="modal fade" id="myModal12" role="dialog">
    		<div class="modal-dialog">    
     		 <!-- Modal content-->
      		<div class="modal-content">
        	<div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         	<h4 class="modal-title">Origami Art</h4>
        	</div>
        	<div class="modal-body">
          <p style="font-size:20px;">This book starts off with a large section of text about the Origamido Studio and the recent history of origami in the United States. This is followed by another large section about all the various different kinds of origami paper and how to select the best paper for your project. After this is an excellent section on some of the fancier origami techniques such as back coating, colouring paper with acrylic paint and wet folding.</p>
        	</div>
        	<div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
      		</div>      
    		</div>
 	 	</div></span><a href="https://www.amazon.com/Origami-Art-Exquisite-Origamido-Projects/dp/4805309989/ref=as_li_ss_tl?ie=UTF8&qid=1467928445&sr=8-1&keywords=origami+art&linkCode=ll1&tag=origamidotme-20&linkId=39c1353973d848ec9c61307c540e828f"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div></a>
            </div>
        </div>
    </div>
</div>
<br><br>
{{>footer}}
</body>
</html>