<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Fold an Easy Origami Cat</h1>
  </div>
</div>

<br><br><br>

<center><p>These diagrams will show you how to make an easy origami cat. If this is your first time folding something we recommend you check out our <a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> first to learn all the basic folds and techniques.</p></center>

<br><br>

<div class="container">
<div class="card">
<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Cat/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Cat/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Cat/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b>  Fold and unfold the paper in half both ways.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the top and bottom corners to the centre.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold the paper to the centre again along the dotted lines.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Cat/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Cat/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Cat/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Unfold the previous two folds.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Fold the paper in half.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Fold the flap of paper over to the left, open it up and Squash Fold it down.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Cat/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Cat/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Cat/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Fold and unfold the sides in and top down along the dotted lines.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Make a Petal Fold using the creases from the previous step.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Fold the top flap of paper down along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Cat/10.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Cat/11.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Cat/12.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 10)</b> Make two Pleat Folds on the corners to form the ears.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 11)</b> Make another Pleat Fold to form the mouth.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 12)</b> Fold and unfold the left side of the model down along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Cat/13.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Cat/14.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Cat/15.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 13)</b> Make an Inside Reverse Fold using the crease from the previous step.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 14)</b> Make another Inside Reverse Fold along the dotted line to form the tail.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 15)</b>  Fold the left side of the model behind along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Cat/16.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
  		<div class="column" style="background-color:white;">
    			 <p><b>The completed paper cat.</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
  </body>