<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Fold a Very Easy Origami Crab</h1>
  </div>
</div>

<br><br><br>

<center><p>These diagrams will show you how to fold a very easy origami crab. If this is your first time folding something we recommend you check out our <a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> first to learn all the basic folds and techniques.</p></center>

<br><br>

<div class="container"  data-aos="fade-left">
<div class="card">
<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Crab/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Crab/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Crab/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b>   Fold the paper in half.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper in half again.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Open up the top flap of paper over to the right.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Crab/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Crab/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Crab/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Squash fold this flap flat.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Turn the paper over.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Open up the top flap of paper over to the left and Squash Fold it flat.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Crab/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Crab/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Crab/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Fold the top two flaps of paper behind along the dotted lines.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Turn the paper over.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Fold the bottom part of the paper up along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Crab/10.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Crab/11.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Crab/12.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 10)</b> Fold the side flaps of paper down along the dotted lines.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 11)</b> Turn the paper over.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The completed crab</b></p>
 		</div>
	</div></center>
</div>
</div>
<br><br>
{{>footer}}
  </body>