<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_h}}
</head>
<body>
    {{>nav1}}
    
    <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text"><br><br><br>
    <h1 style="font-size:50px;font-family:Segoe Script;">Origami Instructions and Diagrams</h1>
    <h3>Step by Step diagrams are probably the most popular and easiest to follow way to show how to fold things out of paper. Trying to find good origami instructions on the Internet can be a lot of work though. To help your search we’ve put together the largest database of free origami diagrams anywhere on the Internet.
    <br><br>You’ll also find a few free samples of diagrams from our new book as well!
    </h3>
  </div>
</div>

<br><br><br>
<!--<h1 style="font-family:Segoe Script;text-align:center;">Origami Instructions and Diagrams</h1>-->

<section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Animals</li>
              <li data-filter=".filter-card">Birds</li>
              <li data-filter=".filter-web">Fish and Sea Creatures</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/img/BullDog/BullDog.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bull Dog</h4>
                <p>Animals</p>
		<button><a href="bullDog">VIEW</a></button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" >
            <div class="portfolio-wrap">
              <img src="/img/Crab/Crab.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Crab</h4>
                <p>Fish and Sea Creatures</p>
		<button><a href="crab">VIEW</a></button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" >
            <div class="portfolio-wrap">
              <img src="/img/Cat/Cat.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cat</h4>
                <p>Animals</p>
		<button><a href="cat">VIEW</a></button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" >
            <div class="portfolio-wrap">
              <img src="/img/Owl/Owl.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Owl</h4>
                <p>Birds</p>
              	<button><a href="owl">VIEW</a></button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" >
            <div class="portfolio-wrap">
              <img src="/img/Seal/Seal.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Seal</h4>
                <p>Fish and Sea Creatures</p>
                <button><a href="seal">VIEW</a></button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" >
            <div class="portfolio-wrap">
              <img src="/img/Panda/Panda.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Panda</h4>
                <p>Animals</p>
                <button><a href="panda">VIEW</a></button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" >
            <div class="portfolio-wrap">
              <img src="/img/Parrot/Parrot.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Parrot</h4>
                <p>Birds</p>
                <button><a href="parrot">VIEW</a></button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" >
            <div class="portfolio-wrap">
              <img src="/img/Sparrow/Sparrow.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sparrow</h4>
                <p>Birds</p>
                <button><a href="sparrow">VIEW</a></button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" >
            <div class="portfolio-wrap">
              <img src="/img/Whale/Whale.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Whale</h4>
                <p>Fish and Sea Creatures</p>
                <button><a href="whale">VIEW</a></button>
              </div>
            </div>
          </div>
	
	<div class="col-lg-4 col-md-6 portfolio-item filter-web" >
            <div class="portfolio-wrap">
              <img src="/img/Killar Whale/Killar Whale.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Killer Whale</h4>
                <p>Fish and Sea Creatures</p>
                <button><a href="killerWhale">VIEW</a></button>
              </div>
            </div>
          </div>

	<div class="col-lg-4 col-md-6 portfolio-item filter-app" >
            <div class="portfolio-wrap">
              <img src="/img/Fox/Fox.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Fox</h4>
                <p>Animals</p>
                <button><a href="fox">VIEW</a></button>
              </div>
            </div>
          </div>

	<div class="col-lg-4 col-md-6 portfolio-item filter-app" >
            <div class="portfolio-wrap">
              <img src="/img/Dog/Dog.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Dog</h4>
                <p>Animals</p>
                <button><a href="dog">VIEW</a></button>
              </div>
            </div>
          </div>

	 <div class="col-lg-4 col-md-6 portfolio-item filter-card" >
            <div class="portfolio-wrap">
              <img src="/img/Swan/Swan.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Swan</h4>
                <p>Birds</p>
                <button><a href="swan">VIEW</a></button>
              </div>
            </div>
          </div>

	<div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/img/Goldfish/Goldfish.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Gold Fish</h4>
                <p>Fish and Sea Creatures</p>
                <button><a href="goldFish">VIEW</a></button>
              </div>
            </div>
          </div>

	<div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/img/Penguin/Penguin.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Penguin</h4>
                <p>Fish and Sea Creatures</p>
                <button><a href="penguin">VIEW</a></button>
              </div>
            </div>
          </div>
        </div>

      </div>
      {{>footer}}
</body>
</html>