<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px">How to Make an Easy Origami Duck</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to fold an easy origami duck. If you’re new to paper folding you should take a minute to check out our 
<a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> which will teach you all the basics.</p></center>

<br><br>

<div class="container">
<div class="card">
<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Duck/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Duck/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Duck/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b>  Fold the paper in half and unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold both sides of the paper to the centre along the dotted lines.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold the top and bottom to the centre along the dotted lines.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Duck/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Duck/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Duck/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Make a Pleat Fold along the dotted lines.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Fold the paper in half to the back.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Make an Inside Reverse Fold along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Duck/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Duck/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Duck/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  Open up the paper along the dotted lines and Squash Fold it flat. Take a look at the next step to see the final position of this fold.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Make a Pleat Fold behind the model to form the beak.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The complete duck</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
  </body>
  </html>