<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px">How to Make a Very Easy Origami Fish</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to fold a very easy origami fish. If you’ve never folded anything before we recommend that you look at our 
<a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> first which will show you all the basic folds and techniques.</p></center>

<br><br>

<div class="container">
<div class="card">
<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Fish/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Fish/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Fish/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b>  Fold the paper in half.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the top layer of paper up along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold the bottom layer of paper up along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Fish/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Fish/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Fish/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Fold this layer of paper back down along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Fold the front of the paper over to the right along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Fold the paper back over to the left along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Fish/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Fish/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Fish/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  Fold the back of the paper behind the model.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Turn the paper over.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The completed fish</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
  </body>
  </html>