<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Make an Easy Origami Goldfish</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to make an easy origami goldfish. 
If you’re new to paper folding we recommend you check out our <a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> first which will show you all the basic folds and skills.</p></center>

<br><br>

<div class="container">
<div class="card">
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Goldfish/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Goldfish/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Goldfish/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Fold the paper in half.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper in half and then unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold both sides of the paper down along the dotted lines.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Goldfish/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Goldfish/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Goldfish/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Fold these flaps of paper up along the dotted lines.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Fold the top flaps of paper out along the dotted lines.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Fold the top layer of paper up along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Goldfish/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Goldfish/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Goldfish/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  Fold the paper up along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b>  Cut along the dotted line from both ends but don’t cut all the way through. Leave a little bit of paper not cut in the middle.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Fold the bottom layer of paper in behind the model.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Goldfish/10.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Goldfish/11.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Goldfish/12.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 10)</b> Open up the middle and push in the sides flattening the model.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 11)</b> Now the the model is flat rotate it so you’re looking at the new front.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 12)</b> Fold out the top layer of paper along the little bit of paper that you didn’t cut earlier.</p>
 		</div>
	</div></center>
	<center><div class="row">
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Goldfish/13.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
  		<div class="column" style="background-color:white;">
    			 <p><b>The completed goldfish</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
  </body>
  </html>