<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Make an Easy Origami Killer Whale (Orca)</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to fold an easy origami killer whale or orca. If you’ve never folded anything before we recommend you check out our 
<a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> which will teach you all the basic folds and techniques.</p></center>

<br><br>

<div class="container">
<div class="card">
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Killar Whale/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Killar Whale/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Killar Whale/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Fold the paper in half and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold both sides in along the dotted lines.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold the top layers of paper out along the dotted lines.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Killar Whale/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Killar Whale/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Killar Whale/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Fold the top and bottom in along the dotted lines.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b>  Fold the front of the model in behind along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Fold the paper in half over behind the model.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Killar Whale/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Killar Whale/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Killar Whale/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  Fold the back of the tail behind the model along the dotted line. If you prefer you could make an Outside Reverse Fold which would probably look a bit better.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b>  Make a tiny Inside Reverse Fold on the front of the face.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The complete killer whale (orca)</b> </p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
  </body>
  </html>