<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Make an Easy Origami Panda</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to fold an easy origami panda. This model looks best if you use black and white coloured paper. If you’ve never folded anything before we suggest that you take a quick look at our 
<a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> which will show you all the basic folds and skills.</p></center>

<br><br>

<div class="container">
<div class="card">
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Panda/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Panda/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Panda/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Fold and unfold the paper in half both</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold both sides in along the dotted lines.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold and unfold the bottom and top along the dotted lines.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Panda/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Panda/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Panda/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Fold the paper behind along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Turn the paper over.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Fold the top of the paper down along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Panda/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Panda/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Panda/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  Fold the paper up along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Fold and unfold the paper in half and leave slightly folded to give a 3D look.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The complete panda</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
  </body>
  </html>