<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Make an Easy Origami Parrot</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to make an easy origami parrot. If you’re new to paper folding we recommend that you take a minute to review our 
<a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> which will teach you all the basic techniques and skills.</p></center>

<br><br>

<div class="container">
<div class="card">
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Parrot/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Parrot/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Parrot/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Fold the paper in half and unfold it. Then fold both sides in to the centre and then unfold them.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold both sides in to the centre along the dotted lines.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Make a Rabbit Ear Fold on each side resulting in a Fish Base.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Parrot/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Parrot/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Parrot/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Fold the flaps out along the dotted lines.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Fold both sides in along the dotted lines.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Fold the model in half.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Parrot/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Parrot/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Parrot/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  Fold the paper behind along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b>  Make 3 folds along the 3 dotted lines.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Make a Pleat Fold and then one more fold at the tip of the beak.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Parrot/10.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
  		<div class="column" style="background-color:white;">
    			 <p><b>The complete parrot</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
  </body>
  </html>