<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Fold an Easy Origami Penguin</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to fold an easy and cute origami penguin. If you’ve never folded anything take a moment to review our 
<a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> which will show you all the basic folds and techniques.</p></center>

<br><br>

<div class="container">
<div class="card">
<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Penguin/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Penguin/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Penguin/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b>  Fold and unfold the paper in half both ways.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper up along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold the tip of the top layer of paper down along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Penguin/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Penguin/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Penguin/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Fold both sides in along the dotted lines. One side will be on top of the other.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b>  Fold both sides back out along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Turn the model so it’s sitting upright.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Penguin/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Penguin/8.jpg" width="300" height="300">
 		</div>
		<div class="column" style="background-color:white;">
   			 <img src="/img/Penguin/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  Fold the top of the paper down along the dotted line.</p>
 		</div>
		<div class="column" style="background-color:white;">
    			<p><b>Step 8)</b>  Turn the paper over.</p>
 		</div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The completed penguin</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}   
  </body>
  </html>