<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Make an Easy Origami Seal</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to make an easy origami seal. If you’ve never folded anything before we recommend you review our 
<a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> which will show you all the basic folds and techniques.</p></center>

<br><br>

<div class="container">
<div class="card">
<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Seal/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Seal/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Seal/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Fold the paper in half and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold both sides to the centre along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b>  Fold the other sides in to the centre along the dotted lines.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Seal/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Seal/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Seal/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Open up the paper that’s trapped inside.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b>  Fold the paper flat into a Rabbit Ear Fold on each side. This will give you a Fish Base.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b>  Fold the paper in half bringing the bottom up and behind.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Seal/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Seal/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Seal/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  Make an Inside Reverse Fold along the dotted line..</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b>  Make another Inside Reverse Fold along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Make a small Inside Reverse at the front of the head.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Seal/10.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Seal/11.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Seal/12.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 10)</b>  Fold the flap of the Rabbit Ear Fold out along the dotted line and repeat on the other side.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 11)</b>  Make an Inside Reverse Fold along the dotted line to make the tail.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 12)</b> Fold the flipper up along the dotted line and repeat on the other side.</p>
 		</div>
	</div></center>
	<center><div class="row">
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Seal/13.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
  		<div class="column" style="background-color:white;">
    			 <p><b>The completed seal</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
    </body>
</html>