<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
      <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Make an Easy Origami Sparrow</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to make an easy origami sparrow. If you’re new to paper folding we recommend you check out our 
<a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> which will show you all the basic folds and techniques.</p></center>

<br><br>

<div class="container">
<div class="card">
<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Sparrow/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Sparrow/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Sparrow/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b>  Fold and unfold the paper in half both ways.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold both sides in towards the centre along the dotted lines.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Make a Pleat Fold at the top of the paper.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Sparrow/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Sparrow/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Sparrow/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Fold the paper in half bringing the right side behind.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Make an Outside Reverse Fold along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Fold the top layer of paper underneath along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Sparrow/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Sparrow/8.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Sparrow/9.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>   Turn the paper over.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b>  Fold the top layer of paper underneath like on the other side.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Make an Inside Reverse Fold along the dotted line..</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Sparrow/10.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Sparrow/11.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 10)</b>  Fold the bottom of the paper behind the model.</p>
 		</div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The complete sparrow</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
    </body>
</html>