<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  {{>start_h}}
</head>
<body>
    {{>nav1}}
    <div class="hero-image" data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:50px;font-family:Segoe Script;">The Beginner’s Guide to Origami</h1>
    <h3>Origami is actually a very easy hobby to pick up and it’s a lot of fun. All you need is paper and you can use pretty much any paper you can find. 
	This guide will show you the main folds, the basic bases that are used as the foundation for a huge number of different models and then you’ll learn how to fold your first model, 
	the traditional paper crane.</h3>
  </div>
</div>

<br><br>

<center><h1 style="font-family:Ink Free;"><b>Mountain and Valley Folds</b></h1>
<p>These are the two basic folds in origami. Pretty much every fold is either a mountain fold, a valley fold or a combination of the two.</p>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <img src="/img/mountain_fold.png" data-aos="fade-right" style="background-color:white;" width="400" heigth="400">
      <p>With a Mountain Fold the crease bends the paper down and the crease resembles a mountain.</p>
    </div>
    <div class="col-sm-7">
      <img src="/img/mountain_fold_up.png" data-aos="fade-right" style="background-color:white;" width="400" heigth="400">
      <p>With a Valley Fold the crease bends the paper up and the crease resembles a valley.</p>
    </div>
  </div>
</div></center>

<br><br>

<center><h1 style="font-family:Ink Free;"><b>Common Origami Folds</b></h1><br>
<p>Here are the most common folds with step by step instructions how to make them.
   These folds might not look exactly the same as they do in these examples all the time when you’re folding other models. 
   However these examples should show you how they work so you’ll be able to figure out what you’re supposed to do when you’re following diagrams.</p></center>

<br><br>

<div class="container p-3 my-3 bg-warning text-white" data-aos="fade-left">
<p>Note: These diagrams are intentionally exaggerated and distorted to show as many flaps of paper as possible and make them easier to follow. When you fold origami models on your own almost all the time you’ll need to crease each fold very well and press everything completely flat.</p>
</div>

<br><br>

<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          INSIDE REVERSE FOLD
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Inside Reverse Fold</h1>
	  <p>This is a very common fold in origami where the paper is folded inside of the model.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Inside Reverse Fold/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Inside Reverse Fold/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Inside Reverse Fold/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Start with a square of paper, white side up and fold it in half diagonally. This isn’t actually part of the Inside Reverse Fold but it’ll give you a shape that you can use to make the Inside Reverse Fold on.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold along the dotted line. This is where you’re going to make the inside reverse fold. Your fold doesn’t have to match the exact position of the line so don’t worry if it doesn’t measure up exactly.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Crease this fold well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Inside Reverse Fold/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Inside Reverse Fold/Step5.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Inside Reverse Fold/Step6.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Turn the paper over.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Make a fold along the dotted line. This will be the opposite side of the fold you made earlier. Now you’re folding this the other way.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Crease this fold well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Inside Reverse Fold/Step7.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Inside Reverse Fold/Step8.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Inside Reverse Fold/Step9.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Turn the paper over again so it’s back the way it was before.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Push the paper inside the model following the two folds you made before.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Push the paper all the way inside the model and flatten along the creases you already made.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Inside Reverse Fold/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
  		<div class="column" style="background-color:white;">
    			 <p><b> The completed Inside Reverse Fold.</b> The dotted line shows the path of the paper inside the model.</p>
 		</div>
	</div></center>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        OUTSIDE REVERSE FOLD
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Outside Reverse Fold</h1>
	  <p>The fold is the opposite of the Inside Reverse Fold. This time the paper is folded outside of the model.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Outside Reverse Fold/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Outside Reverse Fold/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Outside Reverse Fold/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Start with a square of paper, white side up and fold it in half diagonally. This isn’t part of the Outside Reverse Fold but it will give us a shape we can use to demonstrate the fold.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper along the dotted line. This will be where you will make the Outside Reverse Fold. Your fold doesn’t have to line up exactly where the line is so don’t worry about making it completely perfect.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Crease this fold well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Outside Reverse Fold/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Outside Reverse Fold/Step5.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Outside Reverse Fold/Step6.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Turn the paper over.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Fold the paper along the dotted line. This will be the opposite side of the crease you made earlier.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Crease this well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Outside Reverse Fold/Step7.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Outside Reverse Fold/Step8.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Outside Reverse Fold/Step9.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Fold the paper outside the model along the creases you already made. To make it a bit easier you can open the model up.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Fold the paper down along the creases you already made.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> As you fold the paper down close the model up again along the crease you made in step 1. The paper you folded down should flatten nicely on the outside of the model.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Outside Reverse Fold/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
  		<div class="column" style="background-color:white;">
    			 <p><b> The completed Outside Reverse Fold.</b>  It’s the opposite of the Inside Reverse Fold. The shape of the fold is essentially the same it’s just folded the other way and outside the model.</p>
 		</div>
	</div></center>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          RABBIT EAR FOLD
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Rabbit Ear Fold</h1>
	  <p>This fold results in a flap of paper that kind of resembles a rabbit's ear which is where the fold gets its name.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Rabbit Ear Fold/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Rabbit Ear Fold/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Rabbit Ear Fold/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Start with a square of paper with the white side up. Fold the paper in half along the dotted line and then unfold it. You will use this line a guide in later steps.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper along the dotted line. It should line up with the crease you made in step 1.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Crease this well and unfold.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Rabbit Ear Fold/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Rabbit Ear Fold/Step5.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Rabbit Ear Fold/Step6.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Fold the paper on the other side along the dotted line. It should also line up with the crease you made in step 1.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b>  Crease this well and unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b>  Fold both sides of the paper along the dotted lines back to the centre following the two creases you just made. The paper will bunch up in the middle and you will make a new crease along that small vertical dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Rabbit Ear Fold/Step7.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Rabbit Ear Fold/Result.png" width="300" height="300">
 	        </div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  After step 6 you should have a triangle shaped flap of paper. Fold this down to the side. In general it doesn’t matter which side you fold this flap down to. Different models will have different instructions for which side to fold it to.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>The completed Rabbit Ear Fold.</b></p>
 	        </div>
	</div></center>
      </div>
    </div>
   <div class="card">
      <div class="card-header">
        <a class="collapsed card-link"  data-toggle="collapse" href="#collapseFour">
          SQUASH FOLD
        </a>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Squash Fold</h1>
	  <p>With this fold you essentially take a flap of paper and squash it flat.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Squash Fold/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Squash Fold/Step2.png" width="300" height="300">
 	    </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Squash Fold/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> This example starts with a Preliminary Base. The instructions for this base are further in this guide. Squash folds can be performed on a variety of different shapes, not just this base.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> There are four flaps of paper on this base, lift one of them up. You will make a squash fold on this flap.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Push down on the crease so you completely flatten the flap. Make sure both sides are symmetrical.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Squash Fold/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>The completed Squash Fold.</b></p>
 		</div>
	</div></center>
      </div>
    </div>
   <div class="card">
      <div class="card-header">
        <a class="collapsed card-link"  data-toggle="collapse" href="#collapseFive">
          PLEAT
        </a>
      </div>
      <div id="collapseFive" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Pleat</h1>
	  <p>This is a very simple, basic fold.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Pleat/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Pleat/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Pleat/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> This example uses a rectangle shaped sheet of paper but you can easily make this fold with a square or any other shape. Fold the paper to the side along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper back the other way along the dotted line. Note that this new fold is a little bit to the left of the first fold you made.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The Completed Pleat.</b> If you look at the shape of the fold from the side it kind of looks like a letter Z.</p>
 		</div>
	</div></center>
      </div>
    </div>
   <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
          CRIMP
        </a>
      </div>
      <div id="collapseSix" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Crimp</h1>
	  <p>This is very much like a Pleat but made on the outside of the paper almost like an Outside Reverse Fold.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Crimp/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Crimp/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Crimp/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b>  Start off with a square sheet of paper with the white side up. Fold the paper in half along the dotted line and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Next make a Pleat by folding the paper to the left along the dotted line. Your fold doesn’t have to match the one in the diagram exactly. It just needs to be roughly in the same place.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold the paper back to the right along the dotted line. Your fold doesn’t need to be exactly in the same place as the diagram. This is just practice. You now have a Pleat.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Crimp/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Crimp/Result.png" width="300" height="300">
 	        </div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Fold the paper in half again along the crease you made in step 1.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>The completed Crimp.</b> Notice how it’s kind of like a pleat made on the outside of both sides of the paper.</p>
 	        </div>
	</div></center>
      </div>
    </div>
   <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
          PETAL FOLD
        </a>
      </div>
      <div id="collapseSeven" class="collapse" data-parent="#accordion">
        <div class="card-body">
         <h1>Petal Fold</h1>
	 <p>This is a fairly common fold and it's part of the Bird Base.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Petal Fold/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Petal Fold/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Petal Fold/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> For this example start off with a Square Base. The instructions for this base are later in this guide. This is the most common way to make a Petal Fold. Fold the top right flap of paper to the centre along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Crease this fold well and then unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold the top left flap of paper to the centre along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Petal Fold/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Petal Fold/Step5.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Petal Fold/Step6.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Crease this fold well and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Fold the top part of the model down along the dotted line. The end points of this line should line up with the tops of the lines from the two creases you just made.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Crease this fold well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Petal Fold/Step7.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Petal Fold/Step8.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Petal Fold/Step9.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Open up the top flap of paper folding it upwards along the horizontal crease you just made.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> As you lift the paper up also fold in the sides along the two creases you made on each side.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Lift the paper all the way up and flatten everything along the 3 creases you already made. If you made the creases well everything should fall into place easily.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Petal Fold/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>The completed Petal Fold.</b></p>
 		</div>
	</div></center>
      </div>
    </div>
  </div>
</div>   

<br><br>
<!--
<center><h1 style="font-family:Ink Free;"><b>Origami Bases</b></h1><br>
<p>There are several bases in origami that are used to start many different models. For example the bird base is the start of many paper birds. Often times you’ll see instructions telling you to start with a particular base just to save some time or space in the instructions. There aren’t too many bases and you’ll see the same ones repeated a lot of times in different models.</p></center>

<br><br>

<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseEight">
          KITE BASE
        </a>
      </div>
      <div id="collapseEight" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Kite Base</h1>
	  <p>This is the most simple base in origami and it kind of looks like a kite which is where the name comes from.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Kite Base/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Kite Base/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Kite Base/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Start with a square sheet of paper with the white side up. Fold it in half along the dotted line and unfold. You will use this line as a guide in later steps.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the right side of the paper along the dotted line to the centre.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold the left side of the paper along the dotted line to the centre.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Kite Base/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>The completed Kite Base.</b></p>
 		</div>
	</div></center>
       </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
        SQUARE BASE
      </a>
      </div>
      <div id="collapseNine" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Square Base</h1>
	  <p>This is probably the most common base in origami and is used in many different models. Sometimes this base is called a Square Base and sometimes it's referred to as a Preliminary Base.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Square Base/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Square Base/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Square Base/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Start with a square sheet of paper with the white side up. Fold it in half along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper in half again along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Bring the top flap of paper up.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Square Base/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Square Base/Step5.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Square Base/Step6.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Squash fold this flap of paper down. Make sure you keep both sides symmetrical. You should end up with a diamond shape.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Turn the model over.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Lift up the top left flap of paper to the middle.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Square Base/Step7.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Square Base/Result.png" width="300" height="300">
 	        </div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Squash fold this flap of paper down. Make sure you keep both sides symmetrical. You should end up with a diamond shape matching the one on the other side.</p>
 		</div>
  		<div class="column" style="background-color:white;">
    			 <p><b> The completed Square or Preliminary Base.</b> </p>
 		</div>
	</div></center>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTen">
          WATER BOMB BASE
        </a>
      </div>
      <div id="collapseTen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Water Bomb Base</h1>
	  <p>This base is used to fold the traditional origami Water Bomb and that's where it gets its name. The base is used to fold lots of other things as well.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Water Bomb Base/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Water Bomb Base/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Water Bomb Base/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b>  Start with a square piece of paper with the coloured side up. Fold it in half along the dotted line. Crease this well and then unfold.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper in half the other way along the dotted line. Crease this fold well and then unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Turn the paper over so the white side is now facing up.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Water Bomb Base/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Water Bomb Base/Step5.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Water Bomb Base/Step6.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Fold the paper in half diagonally along the dotted line. Crease this fold well and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Fold the paper in half diagonally the other way along the dotted line. Crease this fold well and then unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Fold the paper together following the two diagonal creases and the horizontal crease that you already made.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Water Bomb Base/Step7.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Water Bomb Base/Step8.png" width="300" height="300">
 	        </div>
		<div class="column" style="background-color:white;">
    			<img src="/img/Water Bomb Base/Result.png" width="300" height="300">
 	        </div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Push in the sides and fold the paper in half horizontally following the creases you already made.</p>
 		</div>
		<div class="column" style="background-color:white;">
    			<p><b>Step 8)</b> The model should come together along the existing creases to make a shape that looks like this. Press everything flat along the existing creases.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>The completed Water Bomb Base.</b></p>
 	        </div>
	</div></center>
      </div>
    </div>
   <div class="card">
      <div class="card-header">
        <a class="collapsed card-link"  data-toggle="collapse" href="#collapseEleven">
          BIRD BASE
        </a>
      </div>
      <div id="collapseEleven" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Bird Base</h1>
	  <p>This base is used to fold a lot of different origami birds including the paper crane and that's where it gets its name from. It's a very common base though and can also be used to fold all kinds of other things.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Bird Base/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Start with a square sheet of paper with the white side up. Fold it in half along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper in half again along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Bring the top flap of paper up.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step5.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Bird Base/Step6.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Squash fold this flap of paper down. Make sure you keep both sides symmetrical. You should end up with a diamond shape.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Turn the model over.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b> Lift up the top left flap of paper to the middle.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step7.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step8.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Bird Base/Step9.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Squash fold this flap of paper down. Make sure you keep both sides symmetrical. You should end up with a diamond shape matching the one on the other side. You now have a Square Base.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Fold the top right flap of paper to the centre along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Crease this fold well and unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step10.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step11.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Bird Base/Step12.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 10)</b> Fold the top left flap of paper to the centre along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 11)</b> Crease this fold well and unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 12)</b> Fold the top of the model down along the dotted horizontal line. The end points of this horizontal line will line up with the tops of the creases on either side.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step13.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step14.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Bird Base/Step15.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 13)</b> Crease this fold well and unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 14)</b> Petal Fold the top flap of paper up along the dotted line. There is already a crease here from the previous step.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 15)</b> Continue lifting up the top flap of paper while folding in the sides along the existing creases.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step16.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step17.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Bird Base/Step18.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 16)</b> Push everything flat along the existing creases.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 17)</b> The completed Petal Fold. Turn the model over.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 18)</b> Fold the top right flap of paper to the centre along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step19.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step20.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Bird Base/Step21.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 19)</b> Crease this fold well and unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 20)</b> Fold the top left flap of paper to the centre along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 21)</b> Crease this fold well and unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step22.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step23.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Bird Base/Step24.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 22)</b> Fold the top of the model down along the dotted horizontal line. You already folded this on the opposite side of the model so there will already be a crease here. Now you will fold it the other way.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 23)</b> Crease this fold well and unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 24)</b> Petal Fold the top flap of paper up along the dotted line. There is already a crease here from the previous step.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step25.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Bird Base/Step26.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Bird Base/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 25)</b> Continue lifting up the top flap of paper while folding in the sides along the existing creases.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 26)</b> Push everything flat along the existing creases.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The completed Bird Base.</b> </p>
 		</div>
	</div></center>
      </div>
    </div>
   <div class="card">
      <div class="card-header">
        <a class="collapsed card-link"  data-toggle="collapse" href="#collapseTwelve">
          FISH BASE
        </a>
      </div>
      <div id="collapseTwelve" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Fish Base</h1>
	  <p>This base is used to fold a traditional origami fish which is where its name comes from.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Fish Base/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Fish Base/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Fish Base/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Start with a square sheet of paper with the white side up. Fold it in half along the dotted line and then unfold it. You will use this crease a guide line in later steps.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the bottom right part of the paper to the centre along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Crease this fold well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Fish Base/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Fish Base/Step5.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Fish Base/Step6.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b> Fold the top right part of the paper to the centre along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Crease this fold well and then unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b>  Make a Rabbit Ear Fold on the right side of the model following the existing creases.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Fish Base/Step7.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Fish Base/Step8.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Fish Base/Step9.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Fold the flap of paper to the bottom and fold everything flat.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Fold the bottom left part of the paper to the centre along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Crease this fold well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Fish Base/Step10.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Fish Base/Step11.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Fish Base/Step12.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 10)</b> Fold the top left part of the paper to the centre along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 11)</b> Crease this fold well and then unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 12</b> Make a Rabbit Ear Fold on the left side of the model following the existing creases.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Fish Base/Step13.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Fish Base/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 13)</b> Fold the flap of paper to the bottom and fold everything flat.</p>
 		</div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The completed Fish Base.</b> </p>
 		</div>
	</div></center>
      </div>
    </div>
   <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThirteen">
          FROG BASE
        </a>
      </div>
      <div id="collapseThirteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h1>Frog Base</h1>
	  <p>This is the start of a traditional origami frog which is where this base gets its name. This is probably the most complicated one of the traditional origami bases.</p>
        </div>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step1.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step2.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step3.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Start with a square sheet of paper with the white side up. Fold it in half along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold the paper in half again along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Bring the top flap of paper up.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step4.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step5.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step6.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Squash fold this flap of paper down. Make sure you keep both sides symmetrical. You should end up with a diamond shape.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Turn the model over.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b>  Lift up the top left flap of paper to the middle.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step7.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step8.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step9.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b> Squash fold this flap of paper down. Make sure you keep both sides symmetrical. You should end up with a diamond shape matching the one on the other side. You now have a Square Base.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 8)</b> Bring the top left flap of paper up and towards the middle.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 9)</b> Squash Fold this flap down.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step10.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step11.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step12.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 10)</b> Push everything flat and make sure everything is squashed symmetrically.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 11)</b> Fold the top right flap of paper over to the left.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 12)</b> Bring the top right flap of paper up and towards the middle.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step13.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step14.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step15.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 13)</b> Squash Fold this flap down.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 14)</b> Push everything flat and make sure everything is squashed symmetrically.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 15)</b> Turn the model over.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step16.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step17.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step18.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 16)</b> Bring the top left flap of paper up and towards the middle.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 17)</b> Squash Fold this flap down.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 18)</b>  Push everything flat and make sure everything is squashed symmetrically.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step19.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step20.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step21.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 19)</b> Fold the top right flap over to the left.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 20)</b> Bring the top right flap of paper up and towards the middle.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 21)</b> Squash Fold this flap down.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step22.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step23.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step24.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 22)</b>  Push everything flat and make sure everything is squashed symmetrically.</p>
		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 23)</b> Take a moment to make sure your model looks like the diagram above. There should be 4 flaps of paper on each side.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 24)</b> Fold the top right flap of paper to the middle along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step25.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step26.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step27.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 25)</b> Crease this fold well and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 26)</b> Fold the top left flap of paper to the middle along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 27)</b> Crease this fold well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step28.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step29.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step30.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 28)</b>  Fold a Petal Fold Variation along the horizontal dotted line and the creases you made earlier.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 29)</b>  Lift up along the dotted line in the previous step and fold everything flat along the existing creases.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 30)</b> The completed Petal Fold Variation. You’re going to do this 3 more times.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step31.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step32.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step33.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 31)</b> Fold the top left flap of paper along the dotted line in the centre over to the right.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 32)</b> Fold the new top left flap of paper along the dotted line in the centre over the right.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 33)</b> Fold the top right flap of paper to the centre along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step34.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step35.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step36.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 34)</b> Crease this fold well and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 35)</b> Fold the top left flap of paper to the centre along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 36)</b> Crease this fold well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step37.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step38.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step39.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 37)</b> Fold a Petal Fold Variation along the horizontal dotted line and the creases you made earlier.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 38)</b> Lift up along the dotted line in the previous step and fold everything flat along the existing creases.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 39)</b> Turn the model over.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step40.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step41.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step42.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 40)</b>  Fold the top right flap of paper to the centre along the dotted line.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 41)</b> Crease this fold well and then unfold it.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 42)</b> Fold the top left flap of paper to the centre along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step43.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step44.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step45.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 43)</b> Crease this fold well and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 44)</b> Fold a Petal Fold Variation along the horizontal dotted line and the creases you made earlier.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 45)</b> Lift up along the dotted line in the previous step and fold everything flat along the existing creases.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step46.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step47.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step48.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 46)</b> Fold the top left flap of paper along the dotted line in the centre over to the right.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 47)</b> Fold the new top left flap of paper along the dotted line in the centre over the right.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 48)</b> Fold the top right flap of paper to the centre along the dotted line.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step49.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step50.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Step51.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 49)</b> Crease this fold well and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 50)</b> Fold the top left flap of paper to the centre along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 51)</b> Crease this fold well and then unfold it.</p>
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step52.png" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Frog Base/Step53.png" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Frog Base/Result.png" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 52)</b> Fold a Petal Fold Variation along the horizontal dotted line and the creases you made earlier.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 53)</b> Lift up along the dotted line in the previous step and fold everything flat along the existing creases.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The Completed Frog Base. </b> What you just did was take a Square Base, Squash Fold each of the 4 flaps and then made a Petal Fold on each one. You can fold each of the flaps in any order you want but if you followed these instructions exactly everything should be perfect. Take a moment to check that you have the same number of flaps of paper on each side of the model.</p>
 		</div>
	</div></center>
      </div>
    </div>
  </div>
</div>   -->


<br><br>

<center>
<a href="https://www.amazon.com/dp/1978356897/sr=8-1/qid=1511251546/ref=as_li_ss_tl?_encoding=UTF8&me=&qid=1511251546&sr=8-1&linkCode=ll1&tag=everyone-can-learn-origami-20&linkId=af42ae46592b41be19c93b3d6524c756"><img src="/img/Book/2021-05-20 (45).png" data-aos="fade-left"></a>
<p>Everyone Can Learn Origami is a book specifically for beginners who want to learn how to make origami.<br><br>
In this book you’ll learn all the major folds and techniques and then practice them by folding 77 different traditional models. 
As you fold your way through the models in this book your skills will improve and you’ll be able to fold more and more complex designs.
</p>
</center>

<br><br>
{{>footer}}
</body>
</html>