<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  <meta charset="utf-8">
  {{>diagram_p}}
  </head>
  <body>
      {{>nav1}}
    </body>
    <div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:40px;font-family:Segoe Script;">How to Make an Easy Origami Swan</h1>
  </div>
</div>

<br><br><br>

<center><p>These instructions will show you how to make an easy origami swan. If you’re new to paper folding we recommend that you take a look at our 
<a href="/startHere" style="text-decoration:none;">Beginner’s Guide</a> which will show you all the basic skills and techniques.</p></center>

<br><br>

<div class="container">
<div class="card">
<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<img src="/img/Swan/1.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Swan/2.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Swan/3.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 1)</b> Fold the paper in half and then unfold it.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 2)</b> Fold both sides in to the centre along the dotted lines.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 3)</b> Fold the top layers of paper out along the dotted lines.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/Swan/4.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
    			<img src="/img/Swan/5.jpg" width="300" height="300">
 	        </div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Swan/6.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 4)</b>  Fold the paper in half bringing the bottom up and behind.</p>
 		</div>
  		<div class="column" style="background-color:white;">
   			 <p><b>Step 5)</b> Make an Outside Reverse Fold along the dotted line.</p>
 	        </div>
  		<div class="column" style="background-color:white;">
    			 <p><b>Step 6)</b>  Make another Outside Reverse Fold along the dotted lines.</p>
 		</div>
	</div></center>
	<center><div class="row">
		<div class="column" style="background-color:white;">
    			<img src="/img/SWan/7.jpg" width="300" height="300">
 		</div>
  		<div class="column" style="background-color:white;">
   			 <img src="/img/Swan/8.jpg" width="300" height="300">
 		</div>
	</div></center>
	<center><div class="row">
 	 	<div class="column" style="background-color:white;">
    			<p><b>Step 7)</b>  Make a Crimp Fold on the head to form the beak and make another Crimp Fold on the back to form the tail.</p>
 		</div>
  		<div class="column" style="background-color:white;">
    			 <p><b>The complete swan</b></p>
 		</div>
	</div></center>
</div>
</div>

<br><br>
{{>footer}}
</html>