<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper Art Studio</title>
  {{>tech_h}}
</head>
<body>
    {{>nav1}}
<div class="hero-image"  data-aos="fade-left">
  <div class="hero-text">
    <h1 style="font-size:50px">Welcome to <span style="font-family:Segoe Script;">Paper Art Studio</span></h1>
    <h3 style="font-size:25px">Our goal is to show more people how to make origami while helping them improve their skills and promoting artists and others in the international paper folding community.<br>
	If you’ve never folded anything before and want to learn how, we have an excellent guide for beginners. We have a giant database of free diagrams and video instrutions too. 
	<br>Our blog features amazing work from a variety of very talented artists, we also have a collection of book reviews and recommendations plus much more!
    </h3>
    <a href="/startHere"><button type="button" class="btn btn-primary">START LEARNING HOW TO FOLD HERE</button></a>
  </div>
</div>

<br><center><h1 style="font-family:Ink Free;"><b>Looking for Origami Instructions?</b></h1><br>
<p>We have the largest database of instructions anywhere on the Internet. Whether you're looking for diagrams, crease patterns or even video tutorials you'll be 
<br>sure to find something to fold in our database.</p></center><br>

<div class="container">
 <img src="/img/Fish_BG.jpg" alt="Avatar" class="image" style="width:100%" data-aos="fade-left">
  <div class="middle"></div>
</div>

<br><br>

<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-4" data-aos="flip-left">
				<div class="card bg-warning">
					<img class="card-img-top" src="" alt="">

					<div class="card-body">
						<h5 class="card-title"><b>Diagrams</b></h5>
						<p class="card-text">
							Step by step diagrams are the most common and popular way to show how to fold almost anything.
						</p>

						<a href="/diagram" class="btn btn-outline-dark btn-sm">
							SEARCH FOR DIAGRAMS
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4" data-aos="flip-left">
				<div class="card bg-warning">
					<img class="card-img-top" src="" alt="">

					<div class="card-body">
						<h5 class="card-title"><b>Video Tutorials</b></h5>
						<p class="card-text">
							Video tutorials are great because you can see exactly how paper moves in-between each step.
						</p>
						
						<a href="/video" class="btn btn-outline-dark btn-sm">
							SEARCH FOR VIDEO TUTORIALS
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<br><br><br>

<center><h1 style="font-family:Ink Free;"><b>Learn How to Make Origami, No Experience Required!</b></h1><br>
<p>If you’ve never tried paper folding before and you want to get started then check our our Beginner’s Guide.<br>
<br>This guide will teach you all the basic folds, the basic bases that form the foundation for most models and finally 
it’ll walk you through folding your first model, the traditional paper crane.</p><br><br>
<img src="/img/2021-05-17 (2).png" width="1500" data-aos="fade-down-right">
<br><br><button type="button" class="btn btn-dark">START LEARNING HOW TO FOLD HERE</button></center>

<br><br><br>

 <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Let's connect for all your Origami and Paper Art queries:</p>
        </div>

        <div class="row contact-info">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.2110471035057!2d72.83197091485025!3d19.010419687125584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cee98983caed%3A0xd8b32804b3218cd5!2sOrukami%20-%20The%20Paper%20Art%20Studio%20(Bespoke%20Origami%20Sculptures%20And%20Installations)!5e0!3m2!1sen!2sin!4v1622450435608!5m2!1sen!2sin" width="1500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	<br><br>

          <div class="col-md-4">
            <div class="contact-address">
              <i class="icofont-google-map"></i>
              <h3>Address</h3>
              <address>Rishabh Tower, Senapati Bapat Marg, opp. Indiabulls One International Center, Lokmanya Nagar, West, Prabhadevi, Mumbai, Maharashtra 400025</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="icofont-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+919821788581">+91 98217 88581</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="icofont-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:hi@orukami.com">hi@orukami.com</a></p>
            </div>
          </div>

        </div>
        <img src="/img/Img/undraw_contact_us_15o2.svg" data-aos="fade-up-left">
        <!--<div class="form">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" name="phone" id="phone" placeholder="Your Phone Number" data-rule="minlen:4" data-msg="Please enter a valid phone number" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>-->
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{{>footer}}
  
</body>
</html>